body,
html {
  height: 100%;
  width: 100%;
}

body {
  @include body-font;
}

// Custom Button Size
.btn-xl {
  padding: 1.25rem 2.5rem;
}

// Content Section
.content-section {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

.content-section-heading {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: fade-out($white, 0.3);
}

/* Map */

.map {
  height: 30rem;
}

@media(max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

// Scroll to top button
.scroll-to-top {
  background: fade-out($gray-800, .5);
  bottom: 15px;
  color: #fff;

  display: none;

  height: 50px;
  line-height: 45px;

  position: fixed;

  right: 15px;
  text-align: center;

  width: 50px;
  &:focus,
  &:hover {
    color: #fff;
  }

  &:hover {
    background: $gray-800;
  }

  i {
    font-weight: 800;
  }
}
