/* Error: expected "{".
 *      ,
 * 1141 | >>>>>>> d71d3ea64f6e5e4255d52b2bb8843a1f3b178a36
 *      |                                                 ^
 *      '
 *   scss\style-new.scss 1141:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a      \2577 \a 1141 \2502  >>>>>>> d71d3ea64f6e5e4255d52b2bb8843a1f3b178a36\d\a      \2502                                                  ^\a      \2575 \a   scss\\style-new.scss 1141:49  root stylesheet';
}
