{% extends 'base.html' %}
{% block title %}{{ act_Name }}{% endblock title %}
{% block content %}
<section class="content-section bg-light" id="showActivity">
  <div class="container-fluid">
    <div class="showAct2">
      <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-12  showAct-area">
          <div class="row">
            <div class="col">
              <h5 class="all-title" id="title"></h5>
              <hr>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <img src="" class="d-block mb-2 text-center mw-100" id="act-img">
              <div class="row clear-float my-3">
                <div class="col-lg-7 col-sm-12">
                  <h6 class="ml-3" id="startTime">開始時間</h6>
                  <h6 class="ml-3" id="endTime">結束時間</h6>
                </div>
                <div class="col-lg-5 col-sm-12" id="taglist"></div>
              </div>
              <hr>
              <h6>活動簡介</h6>
              <div class="ml-2 lh-1 my-3 text-secondary text-justify" id="act_Description"></div>
            </div>
          </div>
          <div class="row  float-right">
          </div>  
          <div class="row clear-float">
            <div class="col" id="ticketist">
              <hr>
            </div>
          </div>           
        </div>
      </div>
      <!--
    <div class="text-center">
      <br>
      <a href="#" class="btn btn-primary ml-2" id="QRCODE">建立網址QRCODE</a>
    </div>
    -->
  </div>
    <!----------------------活動問卷----------------------->
    <!------------------------------ real-time ------------------------------->
    <div class="real-time mt-3" id="real-time">
      <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-12 clickback">
          <h5 class="all-title">即時資訊</h5>
          <hr>
          <div class="real-time-area">
            <div class="row">
              <div class="col schelist">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="text-center">
      </div>
    </div>
    <div class="lotte-user" id="lotte-user">
      <div class="row justify-content-md-center">
        <div class="col-lg-8 col-sm-12 clickback">
          <h5 class="all-title">抽獎名單</h5>
          <hr>
          </div>
        </div>
        <br>
      </div>
      <div class="act-question quest" id="act-question">
        <div class="row justify-content-md-center">
          <div class="col-lg-8 col-sm-12">
            <h5 class="all-title">活動問卷</h5>
            <hr>
            <div class="question">
              <div class="row question-title">
                <div class="col-2 mb-1 text-center"></div>
                <div class="col-2 mb-1 text-center">極佳</div>
                <div class="col-2 mb-1 text-center">佳</div>
                <div class="col-2 mb-1 text-center">普通</div>
                <div class="col-2 mb-1 text-center">差</div>
                <div class="col-2 mb-1 text-center">極差</div>
              </div>
              <div class="row">
                <div class="col-2 mb-1 title">總體</div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input All" type="radio" name="All"
                     value="5" checked></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input All" type="radio" name="All"
                     value="4" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input All" type="radio" name="All"
                     value="3" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input All" type="radio" name="All"
                     value="2" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input All" type="radio" name="All"
                     value="1" ></div>
              </div>
              <div class="row">
                <div class="col-2 mb-1 title">價錢</div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input Money" type="radio" name="Money"
                     value="5" checked></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input Money" type="radio" name="Money"
                     value="4" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input Money" type="radio" name="Money"
                     value="3" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input Money" type="radio" name="Money"
                     value="2" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input Money" type="radio" name="Money"
                     value="1" ></div>
              </div>
              <div class="row">
                <div class="col-2 mb-1 title">音效</div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input Audio" type="radio" name="Audio"
                     value="5" checked></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input Audio" type="radio" name="Audio"
                     value="4" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input Audio" type="radio" name="Audio"
                     value="3" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input Audio" type="radio" name="Audio"
                     value="2" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input Audio" type="radio" name="Audio"
                     value="1" ></div>
              </div>
              <div class="row">
                <div class="col-2 mb-1 title">流程</div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input liu" type="radio" name="liu"
                     value="5" checked></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input liu" type="radio" name="liu"
                     value="4" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input liu" type="radio" name="liu"
                     value="3" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input liu" type="radio" name="liu"
                     value="2" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input liu" type="radio" name="liu"
                     value="1" ></div>
              </div>
              <div class="row">
                <div class="col-2 mb-1 title">氣氛</div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input mood" type="radio" name="mood"
                     value="5" checked></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input mood" type="radio" name="mood"
                     value="4" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input mood" type="radio" name="mood"
                     value="3" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input mood" type="radio" name="mood"
                     value="2" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input mood" type="radio" name="mood"
                     value="1" ></div>
              </div>
              <div class="row">
                <div class="col-2 mb-1 title">燈光</div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input light" type="radio" name="light"
                     value="5" checked></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input light" type="radio" name="light"
                     value="4" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input light" type="radio" name="light"
                     value="3" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input light" type="radio" name="light"
                     value="2" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input light" type="radio" name="light"
                     value="1" ></div>
              </div>
              <div class="row">
                <div class="col-2 mb-1 title">動線</div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input move" type="radio" name="move"
                     value="5" checked></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input move" type="radio" name="move"
                     value="4" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input move" type="radio" name="move"
                     value="3" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input move" type="radio" name="move"
                     value="2" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input move" type="radio" name="move"
                     value="1" ></div>
              </div>
              <div class="row">
                <div class="col-2 mb-1 title">地點</div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input loc" type="radio" name="loc"
                     value="5" checked></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input loc" type="radio" name="loc"
                     value="4" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input loc" type="radio" name="loc"
                     value="3" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input loc" type="radio" name="loc"
                     value="2" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input loc" type="radio" name="loc"
                     value="1" ></div>
              </div>
              <div class="row">
                <div class="col-2 mb-1 title2">工作人員</div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input staff" type="radio" name="staff"
                     value="5" checked></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input staff" type="radio" name="staff"
                     value="4" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input staff" type="radio" name="staff"
                     value="3" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input staff" type="radio" name="staff"
                     value="2" ></div>
                <div class="col-2 mb-1 text-center"><input class="form-check-input staff" type="radio" name="staff"
                     value="1" ></div>
              </div>
            </div>
  
  
            <div class="row">
              <div class="col mt-2">
                <h6>意見回饋</h6>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <textarea class="form-control" id="Description" rows="7"></textarea>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
      <br>
      <div class="text-center">
        <button type="button" class="btn btn-primary ml-2 join-btn emailtest" data-toggle="modal" data-target="#RemarkModal">參加</button>
        <button type="button" class="btn btn-primary ml-2 quest" id="submitques">送出問卷</button>
      </div>
  </div>
   <div class="modal fade" id="RemarkModal" tabindex="-1" role="dialog" aria-labelledby="RemarkModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="RemarkModalLabel">參加活動</h5>
           <button type="button" class="close close-sub" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body modal-Remark">
           <textarea class="form-control" id="Remark" placeholder="輸入備註(非必填)"></textarea>
         </div>
         <div class="modal-footer">
              <div class="text-center">
                    <button type="button" class="btn btn-primary tick-sub">送出</button>
               </div>
         </div>
       </div>
     </div>
   </div>
</section>
{% endblock content %}
{% block script %}
<script src="{{ url_for('static',filename='js/showAct.js') }}?version=1.24"></script>
{% endblock %}