{% extends 'base-new.html' %}
{% block content %}
<div class="container-fluid signup">
    <div class="form-area border-radius-2">
        <h3>註冊會員</h3>
        <div class="row">
            <input type="text" class="login-input border-radius-2" placeholder="帳號">
        </div>
        <div class="row">
            <input type="password" class="login-input border-radius-2" placeholder="密碼">
        </div>
        <div class="row">
            <input type="name" class="login-input border-radius-2" placeholder="真實姓名">
        </div>
        <div class="row">
            <input type="nickname" class="login-input border-radius-2" placeholder="暱稱">
        </div>
        <div class="row">
            <input type="schoolemail" class="login-input border-radius-2" placeholder="學校信箱 (第一個英文字請小寫)">
        </div>
        <div class="row">
            <input type="cellphone" class="login-input border-radius-2" placeholder="手機號碼">
        </div>
        <div class="row">
            <input type="school" class="login-input border-radius-2" placeholder="所屬學校" readonly>
        </div>
        <div class="row">
            <button type="button" class="btn btn-block btn-outline-primary border-radius-2">註冊</button>
        </div>
        <small id="" class="form-text text-muted mt-4"><a href="#">Forget Password?</a></small>
        <div class="row mt-4">
            <div class="col"><hr></div>
            <div class="col-1 text-center p-0 pt-1 fiesta-text-primary">or</div>
            <div class="col"><hr></div>
        </div>
        <div class="row text-center mt-3">
            <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-google godown"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f godown"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-twitter godown"></i>
                    </a>
                </li>                
            </ul>
        </div>
        <small id="" class="form-text text-muted mt-4"><a href="#">Already have an account? Login Now</a></small>
    </div>
</div>
{% endblock content %}
{% block script %}
<!--<script src="{{ url_for('static',filename='js/test.js') }}"></script>-->
{% endblock script %}