{% extends 'base-no-nav.html' %}
{% block content %}
<div class="container-fluid signup">
    <div class="row">
        <div class="col text-center">
            <img class="logo" src="{{ url_for('static',filename='img/fiesta-logo.png') }}" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <img class="signup-img" src="{{ url_for('static',filename='img/login-bg.png')}}" alt="">
        </div>
        <div class="form-area border-radius-1 col-6 text-left">
            <div class="row">
                <h3>註冊會員</h3>
            </div>
            <div class="row">
                <p>帳號</p><span class="span-red">*</span>
                <input type="text" class="login-input border-radius-05" id="userId" placeholder="請輸入帳號">
            </div>
            <div class="row">
                <p>密碼</p><span class="span-red">*</span>
                <input type="password" class="login-input border-radius-05" id="userPassword" placeholder="請輸入密碼">
            </div>
            <div class="row">
                <p>真實姓名</p><span class="span-red">*</span>
                <input type="text" class="login-input border-radius-05" id="userName" placeholder="請輸入真實姓名">
                <p>出生日期</p><span class="span-red">*</span>
            </div>
            <div class="row">
                
                <div class="col-md-4">
                    <input type="text" class="login-input border-radius-05" placeholder="日">
                </div>
                <div class="col-md-4">
                    <input type="text" class="login-input border-radius-05" placeholder="月">
                </div>
                <div class="col-md-4">
                    <input type="text" class="login-input border-radius-05" placeholder="年">
                </div>
            </div>
            <div class="row">
                <P>暱稱</P><span class="span-red">*</span>
                <input type="text" class="login-input border-radius-05" id="nickName" placeholder="請輸入暱稱">
            </div>
            <div class="row">
                <p>學校信箱</p><span class="span-red">*</span>
                <input type="text" class="login-input border-radius-05" id="Mail_1" placeholder="請輸入學校信箱 (第一個英文字請小寫)">
            </div>
            <div class="row">
                <p>手機號碼</p><span class="span-red">*</span>
                <input type="text" class="login-input border-radius-05" id="Phone" placeholder="請輸入手機號碼">
            </div>
            <div class="row">
                <p>所屬學校</p><span class="span-red">*</span>
                <input type="text" class="login-input border-radius-05" id="School" placeholder="請輸入所屬學校">
            </div>
            <div class="row">
                <div class="col-1"><input type="checkbox" class="policy" id="policy"></div>
                <span>我同意</span><a href="/policy" target="_blank">隱私權與個人資料保護政策</a>
            </div>
            <div class="row mt-2">
                <button type="button" class="btn btn-block  border-radius-05" id="signup">註冊</button>
            </div>
            <!--
            <div class="row mt-4">
                <div class="col"><hr></div>
                <div class="col-1 text-center p-0 pt-1 fiesta-text-primary">or</div>
                <div class="col"><hr></div>
            </div>
            <div class="row text-center mt-3">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="#">
                          <i class="fab fa-google godown"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-facebook-f godown"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                          <i class="fab fa-twitter godown"></i>
                        </a>
                    </li>
                </ul>
            </div>
          -->
            <small class="form-text text-muted mt-4 text-center">
                <a href="/login">已有帳號？點這裡登入！</a>
            </small>
        </div>
    </div>
    
</div>
{% endblock content %}
{% block script %}
<script src="{{ url_for('static',filename='js/signup.js') }}"></script>
{% endblock script %}