{% extends 'base2.html' %}
{% block title %}
{% endblock title %}
{% block content %}

<div class="container-fluid survey">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 all-title act-title"></h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-11">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-main">
                        問卷回覆 <span class="badge badge-pill badge-secondary">200則</span>
                    </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">
                                選擇動作
                            </div>
                            <a class="dropdown-item to-edit" href="javascript:;">
                                編輯
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1 col-sm-12">
                            總體
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i> (10)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i> (15)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (17)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (130)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (34)
                        </div>
                        <div class="col-lg-1 col-sm-12">
                            平均 4.5
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1 col-sm-12">
                            價錢
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i> (10)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i> (15)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (17)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (130)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (34)
                        </div>
                        <div class="col-lg-1 col-sm-12">
                            平均 4.5
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1 col-sm-12">
                            音效
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i> (10)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i> (15)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (17)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (130)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (34)
                        </div>
                        <div class="col-lg-1 col-sm-12">
                            平均 4.5
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1 col-sm-12">
                            流程
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i> (10)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i> (15)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (17)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (130)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (34)
                        </div>
                        <div class="col-lg-1 col-sm-12">
                            平均 4.5
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1 col-sm-12">
                            氣氛
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i> (10)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i> (15)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (17)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (130)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (34)
                        </div>
                        <div class="col-lg-1 col-sm-12">
                            平均 4.5
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1 col-sm-12">
                            燈光
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i> (10)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i> (15)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (17)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (130)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (34)
                        </div>
                        <div class="col-lg-1 col-sm-12">
                            平均 4.5
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1 col-sm-12">
                            動線
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i> (10)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i> (15)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (17)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (130)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (34)
                        </div>
                        <div class="col-lg-1 col-sm-12">
                            平均 4.5
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1 col-sm-12">
                            地點
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i> (10)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i> (15)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (17)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (130)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (34)
                        </div>
                        <div class="col-lg-1 col-sm-12">
                            平均 4.5
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-1 col-sm-12">
                            工作人員
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i> (10)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i> (15)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (17)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (130)
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> (34)
                        </div>
                        <div class="col-lg-1 col-sm-12">
                            平均 4.5
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            意見回饋
                        </div>
                        <div class="col-12">
                            <div class="feedback">沒有意見</div>
                            <div class="feedback">工作人員很棒</div>
                            <div class="feedback">有意見</div>
                            <div class="feedback">不知道打啥</div>
                            <div class="feedback">隨便亂打一行看起來比較長的效果會如何</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{{ url_for('static',filename='dashboard/js/datatables.js') }}?version=1.45"></script>
<script src="{{ url_for('static',filename='dashboard/js/chart-pie.js') }}?version=1.03"></script>
{% endblock script %}